:root {
    --white: #feffff;
    --black: #000000;
    --gray: #b6b6b6;
    --darkGray:#757575;
}

@font-face {
    font-family: Lobster;
    src: url('Fonts/Lobster/Lobster-Regular.ttf')
    format("opentype");
    }
@font-face {
    font-family: Lato;
    src: url('Fonts/Lato/Lato-Black.ttf')
    format("opentype");
    }

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.mainIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1200px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "back"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6";
    column-gap: 10px;
    row-gap: 10px;  
    place-items: center;
    background: var(--white);
}
h1 {
    font-family: 'Lobster';
}
h3 {
    text-align: left;
    line-height: 35px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.backgroundTop {
    grid-area: back;
    background-image: url(Bilder/basketball.jpg);
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}
.backgroundTop h1 {
    
    font-size: 6vw;
    color: var(--black);
    /* top right bottom left */
    margin: 0px 40px 0px 40px;
}
.backgroundTop h2 {
    font-size: 3vw;
    color: var(--black);
    /* top right bottom left */
    margin: 0px 0px 0px 0px;
}
/* NAV BAR ANFANG */
header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "logo nav hamburger";
    place-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.backgroundBox {
    width: 4000px;
    height: 70px;
    top: -52px;
    position: relative;
    background: rgba(0, 0, 0, 0.212);
    z-index: -1;
}
.logo{
    grid-area: logo;
    height: auto;
    color: var(--black);
    margin-top: .3em;
    font-size: 1.1em;
    font-weight: bold;   
    font-family: 'Lobster';
    position: absolute;
    top:0;
    padding: .5em 0 0 5%;
    
}
.checkbox{
    grid-area:cb;
}
.hamburger {
    float: right;
    color: var(--black);
    z-index: 2;
    font-weight: bold;
    font-size: 2em;
    margin-left: 4em;
    cursor: pointer;
    position: absolute;
    right: -50px;
    top:0;
    padding: .4em 2em 0 0;
    
}
.hamburger:hover{
    color: var(--darkGray);
}
nav {
    grid-area: nav;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
nav ul li a{
    color: var(--white);
}
nav ul li a:hover{
    color: var(--darkGray);
}

.checkbox:checked ~ nav{
    background: black;
    width: 210vw;
    height: 103vh;
    position: relative;
    top: -25px;
    opacity: 1;
    visibility: visible;
}

.checkbox:checked ~nav ul li a{
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    color: var(white);
}
.checkbox:checked ~ .hamburger {
    transform: translate(50% 50%);
    color:var(--white);
}
/* NAV BAR ENDE */


/* SCHUHKARTEN ANFANG */
.SchuhKarte {
    background-color: var(--white);
    width: 80vw;
    height: 350px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.11);
    margin: 10px 0px 10px 0;
}
.SchuhKarte .content {
    position: absolute;
    width: 60vw;
    color: rgba(0, 0, 0, 0);
}
.SchuhKarte a {
    position: relative;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
}
.SchuhKarte img {
    position: relative;
    bottom: -20px;
}
.SchuhKarte .farbBox {
    background: rgba(0,0,0,0);
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 50px;
}
.SchuhKarte:hover .farbBox {
    background: var(--black);
    width: 80vw;
    height: 350px;
    transition: 0.5s ease-in-out;
}
.nikelogo {
    width: 105px;
}
.adidaslogo {
    width: 102px;
}
.pumalogo{
    width: 202px;
}
.nblogo {
    width: 105px;
}
.supremelogo {
    width: 187px;
}
.lvlogo {
    width: 80px;
}
.SchuhKarte:hover .content {
    color: var(--white); 
}
.SchuhKarte:hover img {
    position: relative;
    margin-bottom: 250px;
    transition: 0.7s;
    z-index: 1;
}

/* Botton hover effect */
.nikebutton:hover {
    padding: 10px 40px 10px 40px;
    transition: .2s;
}
.adidasbutton:hover {
    padding: 10px 40px 10px 40px;
    transition: .2s;
}
.pumabutton:hover {
    padding: 10px 40px 10px 40px;
    transition: .2s; 
}
.nbbutton:hover {
    padding: 10px 40px 10px 40px;
    transition: .2s;
}
.supremebutton:hover {
    padding: 10px 40px 10px 40px;
    transition: .2s;
}
.louibutton:hover {
    padding: 10px 40px 10px 40px;
    transition: .2s;
}

.nikebutton:not(:hover) {
    padding: 10px 20px 10px 20px;    
}
.adidasbutton:not(:hover) {
    padding: 10px 20px 10px 20px;
}
.pumabutton:not(:hover) {
    padding: 10px 20px 10px 20px;
}
.nbbutton:not(:hover) {
    padding: 10px 20px 10px 20px;
}
.supremebutton:not(:hover) {
    padding: 10px 20px 10px 20px;
}
.louibutton:not(:hover) {
    padding: 10px 20px 10px 20px;
}



/* button */
.SchuhKarte:hover .nikebutton {
    background: #d3950f;
    color: rgb(255,255,255);
    bottom: 60px;
    transition: .3s;
}
.SchuhKarte:hover .adidasbutton {
    background: #228ed6;
    color: rgb(255,255,255);
    bottom: 50px;
    transition: .3s;
}
.SchuhKarte:hover .pumabutton {
    background: #3d98d4;
    color: rgb(255,255,255);
    bottom: 55px;
    transition: .3s;
}
.SchuhKarte:hover .nbbutton {
    background: #ec2727;
    color: rgb(255,255,255);
    bottom: 60px;
    transition: .3s;
}
.SchuhKarte:hover .supremebutton {
    background: #b61f1f;
    color: rgb(255,255,255);
    bottom: 100px;
    transition: .3s;
}
.SchuhKarte:hover .louibutton {
    background: #aa886a;
    color: rgb(255,255,255);
    bottom: 50px;
    transition: .3s;
}
.SchuhKarte:not(:hover) a {
    background:rgba(78, 78, 78,0);
    color: rgba(255,255,255,0);

}

.SchuhKarte:not(:hover) .content {
    margin-top: 0px;
    transition: 0.2s;
}
.SchuhKarte:not(:hover) img {
    margin-bottom: 0px;
    transition: 0s;
} 
.SchuhKarte:not(:hover) .farbBox {
    margin-bottom: 0px;
    transition: 0.2s;
} 
/* SCHUHKARTEN ENDE */

/* FOOTER ANFANG */
footer {
    grid-area: "footer";
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--black);
    color: var(--white);
}
.nicoImp {
    text-align: center;
}
.linusImp {
    text-align: center;
}
.hsImp {
    text-align: center;
}
footer img {
    position: relative;
    left: 43%;
    height: 100px;
    width: 150px;
}

footer a {
    text-align: center;
    font-size: 1em;
    color: var(--white)
}
footer a:hover {
    color: var(--darkGray);
}
.duku {
    text-align: center;
}
/* FOOTER ENDE */


/************************************** ABOUT US ANFANG **************************************/
.aBody {
    background: var(--white);
}
p {
    text-align: justify;
}
.aMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1.1fr 1.1fr 1fr;
    grid-template-areas: 
    "linusundnico"
    "nico"
    "linus"
    "ziel";
    place-items: center;
}
.aLinusUndNico {
    grid-area: linusundnico;
    margin: 0 10% 0 10%;
    position: relative;
    top:60px;
}
.aZielWebsite {
    grid-area: ziel;
    color:var(--black);
    margin: 0 10% 50px 10%;
    position: relative;

}

/* KARTEN ANFANG */
.aNicoPic img{
    border-radius: 100px;    
}
.aLinusPic img{
    border-radius: 100px;    
}
.aCardNico {
    grid-area: nico;
    position: relative;
}
.aCardLinus {
    grid-area: linus;
    margin-top: 10px;
    position: relative;
}
.aInstaCard {
    background-color: var(--white);
    width: 80vw;
    height: 320px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.11);
}
.aInstaCard .aContent {
    position: absolute;
    width: 30vw;
    color: rgba(0, 0, 0, 0);
}

.aInstaCard .aFarbBox {
    background: rgba(0,0,0,0);
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 50px;
}
.aInstaCard:hover .aFarbBox {
    background: var(--black);
    width: 80vw;
    
    height: 320px;
    transition: 0.6s;
}
.aInstaCard:hover .aContent {
    color: var(--white);
    margin-right: 42vw;
    transition: 0.3s;
}
.aInstaCard:hover a {
    margin-left: 33vw;
    transition: 0.3s;
    z-index: 1;
}
.aInstaCard:not(:hover) .aContent {
    margin-top: 0px;
    transition: 0.3s;
}
.aInstaCard:not(:hover) a {
    margin-bottom: 0px;
    transition: 0.3s ease-in-out;
} 

/************************************** ABOUT US ENDE **************************************/

/************************************** KONTAKT ANFANG **************************************/
.kMain {
    height: 100vh;
    background: var(--white);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kKontainer {
    background-color: var(--gray);
    height: 70vh;
    width: 60vw;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.11);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.kKontainer h1 {
    font-size: 8vw;
    color: var(--black);
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
}
.kInputContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    height: 3vh;
    width: 50vw;
    border-radius: 40px;
    margin: 5px;
    padding: 0px 25px;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.212);
    font-size: 20px;
    transition: .5s;
}
.kNachricht {
    height: 30vh;
}
input:hover {
    background-color: ghostwhite;
}
input:focus {
    background-color: ghostwhite;
    outline: none;
    width: 55vw;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.3)
}
button {
    height: 50px;
    border: none;
    border-radius: 2em;
    margin: 15px;
    background: #3b3b3b;
    color: var(--white);
    font-size: 1.5em;
}
button:hover {
    width: 200px;
    transition: .5s;
}
button:not(:hover) {
    width: 150px;
    transition: .5s;
}

/************************************** KONTAKT ENDE **************************************/




























/************************************** Brand Unterseiten **************************************/

.brandIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 550px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "back"
      "card1"
      "card2"
      "card3"
      "card4";
    column-gap: 10px;
    row-gap: 10px;
    place-items: center;
    background: var(--white);
  }
 
  .backgroundTopAdidas {
    grid-area: back;
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
  }
  .brandIndexAdidas h2 {
    font-size: 1em;
}
  .backgroundTopNB {
    grid-area: back;
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
  }
  .brandIndexNB h2 {
    font-size: 1em;
}
  .backgroundTopNike {
    grid-area: back;
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
  }
  .brandIndex h2 {
    font-size: 1em;
}   
  .backgroundTopCollectables {
    grid-area: back;
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
  }
  .brandIndexCol h2 {
    font-size: 1em;
}   
  .backgroundTopAccesoires {
    grid-area: back;
    height: 1200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
  }
  .brandIndexAcc h2 {
    font-size: 1em;
}   
  
  .hsImpNike {
    margin: 0% 0% 0% 3%;
  }
  
  .shoePicture {
    width: 280px;
  }
  
  .louisPicture {
    width: 160px;
  }
  
  .bearBrickPicture {
    height: 250px;
  }
  
  .gucciPicture {
    width: 250px;
  }
  
  /* botton color */
  .SchuhKarte:hover .lightBlueButton {
    background: rgb(143, 212, 233);
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
    }
  
  .SchuhKarte:hover .brownButton {
    background: rgb(96, 69, 0);
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
  }
  
  .SchuhKarte:hover .darkRedButton {
    background: rgb(119, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
  }
  
  .SchuhKarte:hover .blackButton {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
  }
  
  .SchuhKarte:hover .whiteButton {
    background: rgb(255, 255, 255);
    color: rgb(95, 95, 95);
    transition: 0.4s ease-in-out;
  }
  
  .SchuhKarte:hover .orangeButton {
    background: rgb(254, 144, 0);
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
  }
  
  .SchuhKarte:hover .greyButton {
    background: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
  }
  /* Botton hover effect */
.lightBlueButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}
.brownButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}
.darkRedButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}
.blackButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}
.whiteButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}
.orangeButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}
.greyButton:hover {
    padding: 10px 30px 10px 30px;
    transition: .2s;
}

  /************************************** Sneaker Unterseite **************************************/
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  
  dl {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }
  
  .SneakerMain {
    padding: 5em 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1fr 3em 1fr 1fr;
    grid-template-areas:
      "SneakerName"
      "SneakerImg"
      "SneakerInfo"
      "InfoList"
      "SneakerInfoText";
  }
  
  .SneakerInfo {
    grid-area: SneakerInfo;
    padding: 20px 0 0 20px;
    margin: 0 auto;
  }
  
  .SneakerImg {
    grid-area: SneakerImg;
    margin: 0 auto;
  
    height: 285.1px;
    width: 500px;
  }
  
  .SneakerName {
    grid-area: SneakerName;
    text-align: center;
  }
  
  /************************************** Jordan 1er Infokastenfarben **************************************/
  .BredInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(178, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .UniversityBlue1erInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(111, 211, 214);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .ShatterdedBackboardInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(255, 162, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  /************************************** Jordan 3er Infokastenfarben **************************************/
  .BlackCementInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(109, 109, 109);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .UNCInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(85, 215, 227);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .AMaManiereInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(96, 69, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  /************************************** Jordan 4er Infokastenfarben **************************************/
  .BlackCatInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .UniversityBlue4erInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(111, 211, 214);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .WhiteOreInfoPoints {
    grid-area: InfoPoints;
    background: whitesmoke;
    padding: 1rem;
    padding-left: 2rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 11%);
    width: 28rem;
    margin: 0 auto;
  }
  
  .InfoList {
    grid-area: InfoList;
    padding-left: 20px;
  }
  
  .SneakerInfoText {
    grid-area: SneakerInfoText;
    padding-left: 20px;
    position: relative;
  }
  
  
  /************************************** "Nach Oben"-Button **************************************/
  #button {
    display: inline-block;
    background-color: #000000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    border: solid 4px;
    border-color: white;
    margin: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s;
    z-index: 1000;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: rgb(134, 134, 134);
  }
  #button::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    display: inline-block;
    position: relative;
    left: 40%;
    top: 15px;
    padding: 3px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  


@media only screen and (min-width: 768px) {
    /* SCHUHKARTEN ANFANG */
.SchuhKarte .content {
    width: 30vw;
}
.nikelogo {
    width: 205px;
}
.adidaslogo {
    width: 202px;
}
.pumalogo{
    width: 202px;
}
.nblogo {
    width: 205px;
}
.supremelogo {
    width: 237px;
}
.lvlogo {
    width: 150px;
}
.SchuhKarte:hover .content {
    color: var(--white); 
    margin-right: 290px;
    transition: .7s;
}
.SchuhKarte:hover img {
    margin-bottom: 0px;
    margin-left: 370px;
    transition: 0.7s;
}
.SchuhKarte:hover .nikebutton {
    position: relative;
    top: 20px;
}
.SchuhKarte:hover .adidasbutton {
    position: relative;
    top: 45px;
}
.SchuhKarte:hover .pumabutton {
    position: relative;
    top: 25px;
}
.SchuhKarte:hover .nbbutton {
    position: relative;
    top: 25px;
}
.SchuhKarte:hover .supremebutton {
    position: relative;
    top: 10px;
}
.SchuhKarte:hover .louibutton {
    position: relative;
    top: 50px;
}
/* SCHUHKARTEN ENDE */

/* ABOUT US ANFANG */
.aMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15em 25em 15em;
    grid-template-areas: 
    "linusundnico linusundnico"
    "nico linus"
    "ziel ziel";
    place-items: center;
}    

.aCardLinus {
    grid-area: linus;
    margin-top: 0px;
    position: relative;
    left: -60px;
}
.aInstaCard {
    background-color: var(--white);
    width: 40vw;
    margin: 0 0 0 13%;
}
.aInstaCard .aContent {
    width: 15vw;
}
.aInstaCard:hover .aFarbBox {
    width: 40vw;
}
.aInstaCard:hover .aContent {
    margin-right: 20vw;
}
.aInstaCard:hover a {
    margin-left: 19vw;
}
/* ABOUT US ENDE */
/* IMPRESSUNG ANFANG */
footer {
    grid-area: "footer";
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background: var(--black);
    color: var(--white);
}
.nicoImp {
    text-align: center;
    margin-top: 10%;
    margin-right: 20px;
}
.linusImp {
    text-align: center;
    margin-top: 10%;
    margin-right: 20px;
}
.hsImp {
    text-align: center;
    margin-top: 10%;
    margin-right: 20px;
}
footer img {
    position: relative;
    left: 0;
    height: 100px;
    width: 150px;
    margin-top: 10%;
}
.duku {
    text-align: center;
    margin-top: 10%;
}

footer a:hover {
    color: var(--darkGray);
}
/* IMPRESSUNG ENDE */
}

@media only screen and (min-width: 1220px) {
    
    /* Schuhkarten/Index ANFANG */
    .card1 {
        grid-area: card1;
    }
    .card2 {
        grid-area: card2;
    }
    .card3 {
        grid-area: card3;
    }
    .card4 {
        grid-area: card4;
    }
    .card5 {
        grid-area: card5;
    }
    .card6 {
        grid-area: card6;
    }
    .backgroundBox {
        width: 4000px;
        height: 70px;
        top: -20px;
        position: relative;
        background: rgba(0, 0, 0, 0.212);
        z-index: -1;
    }
    .mainIndex {
        background: var(--white);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1200px 1fr 1fr 1fr;
        grid-template-areas: 
        "back back"
        "card1 card2"
        "card3 card4"
        "card5 card6";
        column-gap: 10px;
        row-gap: 10px;  
        place-items: center;
    }
    .SchuhKarte {
        background-color: var(--white);
        width: 46vw;
    }
    .SchuhKarte:hover .farbBox {
        background: var(--black);
        width: 46vw;
        height: 350px;
        transition: 0.6s;
    }
    .SchuhKarte .content {
        position: absolute;
        width: 15vw;
        color: rgba(0, 0, 0, 0);
    }
    .SchuhKarte:hover img {
        margin-left: 270px;
    }
    .SchuhKarte:hover .img {
        margin-left: 0px;
    }
    .hamburger{
        grid-area: hamb;
        visibility: hidden;
    }

    .checkbox {
        grid-area: cb;
        visibility: hidden;
    }
    .logo {
        margin-top: .8em;
        font-size: 1.4em;
        position: fixed;
        left: 0;
        top:0;
        padding: 0em 2em 0em 5%;
    }

    nav {
        margin-top: 1em;
        width: 80vw;
        top: 4px;
        left: -50px;
        position: absolute;
        opacity: 1;
        justify-content:right;
        margin-right: 3em;
        z-index: 3;
        visibility: visible;

    }
    nav ul {
        display: flex;
    }

    nav ul li a{
        color: var(--black);
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 2em;
    }
    nav ul li a:hover {
    color: var(--darkGray);
    }


    /* AboutUs */
    .aMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15em 25em 15em;
        grid-template-areas: 
        "linusundnico linusundnico"
        "nico linus"
        "ziel ziel";
        place-items: center;
    }
    .aCardLinus {
        grid-area: linus;
        position: relative;
        top: 0;
        left: -100px;
    }
    .aCardNico{
        position: relative;
        top: 0;
    }
    .aZielWebsite {
        position: relative;
        top: -5em;
    }
    .aBilderAbout {
        grid-area: nico;
        left: -20%;
        bottom: -130px;
        position: relative;
    }
    .aInstaCard {
        background-color: var(--white);
        width: 40vw;
        position: relative;
        top: -1.5em;
        margin: 0 0 0 13%;
    }
    .aInstaCard .aContent {
        position: absolute;
        width: 15vw;
        color: rgba(0, 0, 0, 0);
    }

    .aInstaCard:hover .aFarbBox {
        background: var(--black);
        width: 40vw;
        height: 320px;
        transition: 0.6s;
    }
    .aInstaCard:hover .aContent {
        color: var(--white);
        margin-right: 16vw;
        transition: 0.3s;
    }
    .aInstaCard:hover a {
        margin-left: 16vw;
        transition: 0.3s;
        z-index: 1;
    }

    footer {
        grid-area: "footer";
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        background: var(--black);
        color: var(--white);
    }


    .kMain {
        background-image: url(Bilder/basketball.jpg);

    }




    .brandIndex {
        background: var(--white);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 550px 1fr 550px;
        grid-template-areas:
          "back back"
          "card1 card2"
          "card3 card4"
          "footer footer";
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
      }

      .brandIndexNB {
        background: var(--white);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 550px 1fr;
        grid-template-areas:
          "back back"
          "card1 card2";
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
      }

      .brandIndexAdidas {
        background: var(--white);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 550px 1fr;
        grid-template-areas:
          "back back"
          "card1 card2";
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
      }

      .brandIndexAcc {
        background: var(--white);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 550px 1fr;
        grid-template-areas:
          "back back"
          "card1 card2";
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
      }
      .brandIndexCol {
        background: var(--white);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 550px 1fr;
        grid-template-areas:
          "back back"
          "card1 card2";
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
      }

      .SneakerMain {
        padding: 5em 0 0 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 3em 1fr 3em 1fr;
        grid-template-areas:
          "SneakerName SneakerName"
          "SneakerImg SneakerImg"
          "SneakerInfo ."
          "InfoList SneakerInfoText";
      }
}