{% extends 'layout.html' %} {%block content%}
<main class="mainDoku">
  <div><h1>Farben</h1></div>
  <ul class="ulFarben">
    <li><div class="farbe1">#000000</div></li>
    <li><div class="farbe2">#757575</div></li>
    <li><div class="farbe3">#b6b6b6</div></li>
    <li><div class="farbe4">#feffff</div></li>
    <li><div class="farbe5">#d3950f</div></li>
    <li><div class="farbe6">#228ed6</div></li>
    <li><div class="farbe7">#3d98d4</div></li>
    <li><div class="farbe8">#ec2727</div></li>
    <li><div class="farbe9">#b61f1f</div></li>
    <li><div class="farbe10">#aa886a</div></li>
    <li><div class="farbe11">#f8f8ff</div></li>
    <li><div class="farbe12">#add8e6</div></li>
    <li><div class="farbe13">#604500</div></li>
    <li><div class="farbe14">#770000</div></li>
    <li><div class="farbe15">#fe9000</div></li>
    <li><div class="farbe16">#640062</div></li>
    <li><div class="farbe17">#063610</div></li>
    <li><div class="farbe18">#4b001b</div></li>
  </ul>
</main>
{%endblock%}
