{% extends 'layout.html' %} {%block content%}

<main class="aMain">
  <div class="aLinusUndNico">
    <h2>Linus und Nico</h2>
    <p>
      Wir sind Linus und Nico studieren Medieninformatik mit dem Schwerpunkt
      Medienprogrammierung an der Hochschule Flensburg. Lunis ist zur Zeit im
      vierten Semester und Nico ist im sechsten Semester. Im Ramen des Moduls
      "Frontend-Design" entwerfen wir eine Website, die Interessierten das Thema
      Sneaker näherbringen soll. Seit mitlerweile fünf Jahren interessiert sich
      Linus besonders für Sneaker, der Marken New Balance und Adidas aber auch
      für andere Klassiker, was ihn zum erstellen von Inhalten dieser Website
      prädestiniert.
    </p>
  </div>
  <div class="aCardNico">
    <div class="aInstaCard">
      <a class="aNicoPic" href="https://www.instagram.com/niiiicccooo/"
        ><img src="Bilder/nico.png" alt="nicoInstagram"
      /></a>
      <div class="aFarbBox"></div>
      <div class="aContent">
        <h3>Nico</h3>
        <p>
          Ich bin Nico Paulsen, bin 27 Jahre alt und komme aus Flensburg. In
          meiner Freizeit treffe ich mich gerne mit Freunden oder gehe zur
          Entspannung angeln.
        </p>
      </div>
    </div>
  </div>

  <div class="aCardLinus">
    <div class="aInstaCard">
      <a class="aLinusPic" href="https://www.instagram.com/l1nus_bumann/"
        ><img src="Bilder/linus.png" alt="linusInstagram"
      /></a>
      <div class="aFarbBox"></div>
      <div class="aContent">
        <h3>Linus</h3>
        <p>
          Ich bin Linus Bumann, 23 Jahre alt und komme aus Flensburg. In meiner
          Freizeit beschäftige ich mich Sneakern, spiele Videospiele und treffe
          mich gerne mit Freunden.
        </p>
      </div>
    </div>
  </div>

  <div class="aZielWebsite">
    <h2>Ziel der Website</h2>
    <p>
      Das Ziel der Website ist es, Interessierten das Thema Sneaker
      näherzubringen. Wir präsentieren dabei Klassiker der weltbekannten Marken
      Nike, Adidas, Puma und New Balance. Auch Accessoires und Collectables von
      Supreme, Loui Vuitton und anderen bekannten Modemarken werden auf der
      Website dargestellt. Dabei soll es sich nicht um ein klassischen Shop
      handeln, sondern Details, Besonderheiten und Geschichte der dargestellten
      Produkte darstellen.
    </p>
  </div>
</main>
{%endblock%}
