<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adidas und YEEZY</title>
    <link rel="stylesheet" href="/css/styleHA.css" />
  </head>
  <body>
    <header class="header">
      <a href="../index.html" class="logo">Sneak Peek</a>
      <input class="checkbox" type="checkbox" id="checkbox" />
      <label for="checkbox" class="hamburger">&#9776;</label>
      <nav>
        <ul class="navUL">
          <li><a href="nike.html">Nike</a></li>

          <li><a href="../aboutUs.html">About Us</a></li>
        </ul>
      </nav>
      <div class="backgroundBox"></div>
    </header>

    <main class="brandIndexS2">
      <div class="backgroundTopAdidas">
        <h1>Adidas</h1>
        <h2>Hier findest du einige Modelle von Adidas und Yeezy</h2>
      </div>
      <div class="card1">
        <div class="SchuhKarte">
          <img
            class="shoePicture"
            src="../PNGs/Yeezy350(v1,v2)/Adidas-Yeezy-Boost-350-Low-Turtledove.png"
            alt=""
          />
          <div class="farbBox"></div>
          <div class="content">
            <h3>Adidas Yeezy Boost 350 V1</h3>
            <p>
              Hier kannst du dich über einige Modelle des "YEEZY Boost 350 V1"
              informieren
            </p>
          </div>
          <a class="whiteButton" href="AdidasModelle/Yeezyv1.html"
            >Mehr erfahren</a
          >
        </div>
      </div>

      <div class="card2">
        <div class="SchuhKarte">
          <img
            class="shoePicture"
            src="../PNGs/Yeezy350(v1,v2)/adidas-Yeezy-Boost-350-V2-Beluga-Reflective.png"
            alt=""
          />
          <div class="farbBox"></div>
          <div class="content">
            <h3>Adidas Yeezy Boost 350 V2</h3>
            <p>
              Hier kannst du dich über einige Modelle des "YEEZY Boost 350 V2"
              informieren
            </p>
          </div>
          <a class="greyButton" href="AdidasModelle/Yeezyv2.html"
            >Mehr erfahren</a
          >
        </div>
      </div>
    </main>
    <footer>
      <ul class="nicoImp">
        <li><strong>Nico Paulsen</strong></li>
        <li>Glücksburger Straße 81</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 671112</li>
      </ul>
      <ul class="linusImp">
        <li><strong>Linus Bumann</strong></li>
        <li>Brixstrasse 19</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 690869</li>
      </ul>
      <ul class="hsImp">
        <li><strong>Hochschule Flensburg</strong></li>
        <li>Kanzleistraße 91-93</li>
        <li>24943 Flensburg</li>
        <li>Fach: Frontend-Design</li>
      </ul>
      <img src="../Bilder/hsLogo.png" alt="hsLogo" />
      <ul class="duku">
        <li><a href="../dokumentation.html">Dokumentation</a></li>
        <li><a href="../kontakt.html">Kontakt</a></li>
        <li><a href="../datenschutz.html">Datenschutz</a></li>
        <li><a href="../kollophon.html">Kollophon</a></li>
      </ul>
    </footer>
    <a href="#top" id="button"
      ><p><i class="arrow up"></i></p
    ></a>
  </body>
</html>
