{% extends 'layout.html' %} {%block content%}
<main class="mainDoku">
  <h1>Dokumentation: Übersicht</h1>
  <ul class="ulDoku">
    <li><a href="/mainDokumentation">Dokumentation</a></li>
    <li><a href="/_farben">Farben</a></li>
    <li>
      <a href="Erklärung-nipa6451.html">Erklärung Nico</a>
    </li>
    <li>
      <a href="Erklärung-libu4717.html">Erklärung Linus</a>
    </li>
    <li><a href="/timeline">Timeline</a></li>
    <li><a href="/module">Module</a></li>
  </ul>
</main>
{%endblock%}
