<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike Dunk Low</title>
    <link rel="stylesheet" href="/css/styleHA.css" />
  </head>
  <body>
    <header class="header">
      <a href="../../index.html" class="logo">Sneak Peek</a>
      <input class="checkbox" type="checkbox" id="checkbox" />
      <label for="checkbox" class="hamburger">&#9776;</label>
      <nav>
        <ul class="navUL">
          <li><a href="../nike.html">Nike</a></li>
          <li><a href="../adidas.html">Adidas</a></li>

          <li><a href="../../aboutUs.html">About Us</a></li>
        </ul>
      </nav>
      <div class="backgroundBox"></div>
    </header>

    <main class="UnterseitenS3">
      <h1 class="headerUnterseite">Nike Dunk Low Modelle</h1>
      <!-- 1.Schuh -->
      <div class="contentLot1">
        <h2>Nike x Off-White Dunk Low "Lot 1"</h2>
        <p>
          Der Nike Dunk Low Off-White "Lot 1" wurde im August 2021 mit dem
          Size-Run EU 38-52 veröffentlicht. Der Nike Dunk Low Off-White Lot 1
          bietet weißes Canvas mit weißen Leder-Overlays und silbernen Swooshes
          als Obermaterial. Gelbe Sohlen mit weißen „Lot 1 of 50“-Plaketten,
          weißen Overlays und grünen Schnürsenkelösen sowie orangen Details
          runden das Design ab. Bei einem Release Preis von ca 180€ wird er zur
          Zeit für ca 910€ gehandelt.
        </p>
      </div>
      <div class="imgLot1">
        <img src="/Bilder/NikeDunk/Nike-Dunk-Low-Off-White-Lot-1.png" alt="" />
      </div>
      <!-- 2.Schuh -->
      <div class="contentLobster">
        <h2>Nike Dunk Low "Lobster"</h2>
        <p>
          Der Dunk Low "Lobster" wurde am 14.12.2018 mit dem Size-Run EU 38-52
          veröffentlicht. Der Nike Dunk Low Lobster bietet lila Canvas mit einer
          lila/schwarzen Sole. Die Swooshes sind mit einer Border versehen, die
          passend zu den Schnürsenkeln weiß gestaltet wurden. Bei einem Release
          Preis von ca 150€ wird er zur Zeit für ca 1015€ gehandelt. Die Farbe
          dieses Modells entstant aus der Kombination seiner Vorgänger, dem
          roten und dem blauen Lobster.
        </p>
      </div>
      <div class="imgLobster">
        <img src="/Bilder/NikeDunk/SB-Lobster.png" alt="" />
      </div>
      <!-- 3.Schuh -->
      <div class="contentPanda">
        <h2>Nike Dunk Low "Panda"</h2>
        <p>
          Als Obermaterial kommt beim Nike Dunk Low Retro White Black weißes
          Leder mit schwarzen Lederoverlays und Swooshes zum Einsatz. Auf der
          Nylon-Zunge befindet sich das klassische Nike-Logo, ein Verweis auf
          traditionelle Designelemente des Dunk. Eine weiße Zwischensohle und
          eine schwarze Außensohle runden das Design ab. Der Nike Dunk Low Retro
          White Black wurde um Januar 2021 zum Preis von 120€ veröffentlicht und
          wird zur Zeit für ca 220€ gehandelt.
        </p>
      </div>
      <div class="imgPanda">
        <img src="/Bilder//NikeDunk/Panda.png" alt="" />
      </div>
    </main>

    <footer>
      <ul class="nicoImp">
        <li><strong>Nico Paulsen</strong></li>
        <li>Glücksburger Straße 81</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 671112</li>
      </ul>
      <ul class="linusImp">
        <li><strong>Linus Bumann</strong></li>
        <li>Brixstrasse 19</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 690869</li>
      </ul>
      <ul class="hsImp">
        <li><strong>Hochschule Flensburg</strong></li>
        <li>Kanzleistraße 91-93</li>
        <li>24943 Flensburg</li>
        <li>Fach: Frontend-Design</li>
      </ul>
      <img src="../../Bilder/hsLogo.png" alt="hsLogo" />
      <ul class="duku">
        <li><a href="../../dokumentation.html">Dokumentation</a></li>
        <li><a href="../../kontakt.html">Kontakt</a></li>
        <li><a href="../../datenschutz.html">Datenschutz</a></li>
        <li><a href="../../kollophon.html">Kollophon</a></li>
      </ul>
    </footer>
    <a href="#top" id="button"
      ><p><i class="arrow up"></i></p
    ></a>
  </body>
</html>
