{% extends 'layout.html' %} {%block content%}

<main class="mainDokuModule">
  <div><h1>html-pur</h1></div>
  <h2>html-pur</h2>
  <p>html-pur</p>
  <h2>Karte</h2>
  <p></p>
  <div class="SchuhKarte">
    <img class="nikelogo" src="#" alt="" />
    <div class="farbBox"></div>
    <div class="content">
      <h3>html-pur</h3>
      <p>html-pur</p>
    </div>
    <a class="nikebutton" href="#"></a>
  </div>
  <h2>html-pur</h2>
  <p>html-pur</p>
  <a class="adidasbutton" href="#"></a>

  <h2>html-pur</h2>
  <p>html-pur</p>
</main>
{%endblock%}
