<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kollophon</title>
    <link rel="stylesheet" href="styleHA.css" />
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="logo">Sneak Peek</a>
      <input class="checkbox" type="checkbox" id="checkbox" />
      <label for="checkbox" class="hamburger">&#9776;</label>
      <nav>
        <ul class="navUL">
          <li><a href="UnterseitenMarken/nike.html">Nike</a></li>
          <li><a href="UnterseitenMarken/adidas.html">Adidas</a></li>
          <li><a href="aboutUs.html">About Us</a></li>
        </ul>
      </nav>
      <div class="backgroundBox"></div>
    </header>

    <main class="mainKolophon">
      <div class="KOueberschrift"><h1>Kollophon</h1></div>
      <h2 class="h2Kolophon">Links für die Bilder</h2>
      <ol class="Linkname">
        <li>
          Jordan 1 University Blue:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-1-retro-high-white-university-blue-black"
            >StockX-Link (Rechteinhaber)
          </a>
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+1+university+blue&client=opera-gx&hs=VZf&sxsrf=ALiCzsYbUsp2ZdWWr2jX1wmBI9Yfr2rzTw:1654935373310&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjmk7XY-qT4AhWUSPEDHdf3BHQQ_AUoAnoECAIQBA&biw=1495&bih=715&dpr=1.25#imgrc=i53JF0hxdbt-QM"
            >Google-Link (Bild kopiert)</a
          >
        </li>
        <li>
          Jordan 1 Bred:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/jordan-1-retro-bred-2016"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+1+bred&tbm=isch&ved=2ahUKEwje8YDI-qT4AhVF2aQKHZzsBuEQ2-cCegQIABAA&oq=jordan+1+&gs_lcp=CgNpbWcQARgBMgQIIxAnMgQIIxAnMggIABCABBCxAzIICAAQgAQQsQMyCAgAEIAEELEDMggIABCABBCxAzIICAAQgAQQsQMyBAgAEEMyBQgAEIAEMgQIABBDOgYIABAeEAc6BAgAEB46BAgAEANQ0gVYshBglyBoAHAAeACAAXqIAYQKkgEEMTcuM5gBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=Kk-kYt60NsWykwWc2ZuIDg&bih=715&biw=1495&client=opera-gx&hs=uYf#imgrc=2-qgaqn9tLJnzM"
            >Google-Link</a
          >
        </li>
        <li>
          Jordan 1 Shattered Backboard:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/jordan-1-retro-shattered-backboard
      "
            >StockX-Link
          </a>
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+1+shattered+backboard&client=opera-gx&hs=uYf&sxsrf=ALiCzsZ3qLQqIin95UbV1lDu9NIOwL4oWw:1654935336563&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiQqPLG-qT4AhUzQ_EDHSGICokQ_AUoAnoECAEQBA&biw=1495&bih=715&dpr=1.25#imgrc=BFkoChBWp_ia_M"
            >Google-Link
          </a>
        </li>
        <li>
          Jordan 3 Black Cement:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-3-retro-black-cement-2018"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+3+black+cement&tbm=isch&ved=2ahUKEwjYpNXP-KT4AhWWq6QKHdK1AogQ2-cCegQIABAA&oq=jordan+3+black+cement&gs_lcp=CgNpbWcQARgAMgUIABCABDIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjoECCMQJzoECAAQQzoGCAAQHhAHOggIABCABBCxAzoECAAQAzoLCAAQgAQQsQMQgwFQqwpYuDxgr0VoAHAAeAGAAZQBiAGPE5IBBDMzLjOYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=Ik2kYtiLBZbXkgXS64rACA&bih=715&biw=1495&client=opera-gx&hs=z3z#imgrc=Td-UlU1HmBQNGM"
            >Google-Link</a
          >
        </li>
        <li>
          Jordan 3 AMM:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-3-retro-a-ma-maniere-w"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+3+amm&client=opera-gx&hs=JoK&sxsrf=ALiCzsYlcagye4Z5SS5dtORk9RQ7FOxYow:1654935008842&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiR-M-q-aT4AhWzSfEDHRowBIoQ_AUoAXoECAIQAw&biw=1495&bih=715&dpr=1.25#imgrc=J4q1BdhTsjT56M"
            >Google-Link</a
          >
        </li>
        <li>
          Jordan 3 UNC:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-3-retro-unc-2020"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+3+Unc&client=opera-gx&hs=ATf&sxsrf=ALiCzsbaDkIrV_-hMjy1esNi8m0eKcnWFQ:1654934980069&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjQ0POc-aT4AhXoQ_EDHUhBDqEQ_AUoAXoECAIQAw&biw=1495&bih=715&dpr=1.25#imgrc=XIGp-E8J8DtLSM"
            >Google-Link</a
          >
        </li>
        <li>
          Jordan 4 Black Cat:<a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-4-retro-black-cat-2020"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+4+black+cat&client=opera-gx&hs=79z&sxsrf=ALiCzsYbxpnky1_wYl6yhM_EG_yCQn6-BA:1654935082267&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiirdHN-aT4AhUuQ_EDHb0ADHIQ_AUoAXoECAIQAw&biw=1495&bih=715&dpr=1.25#imgrc=mO9zzYD2hCbu8M"
            >Google-Link</a
          >
        </li>
        <li>
          Jordan 4 University Blue:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-4-retro-university-blue"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+4+university+blue&client=opera-gx&hs=6pK&sxsrf=ALiCzsYPNoC8o0q3s5EzNN9W7xa23uPMEg:1654935119983&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiOsM_f-aT4AhUuSfEDHSUJAusQ_AUoAnoECAEQBA&biw=1495&bih=715&dpr=1.25#imgrc=CGryuTgy16cURM"
            >Google-Link</a
          >
        </li>
        <li>
          Jordan 4 White Oreo:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/air-jordan-4-retro-white-oreo-2021"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=jordan+4+white+oreo&client=opera-gx&hs=PB0&sxsrf=ALiCzsY3huHTi6j_puFY0u0BT5o7ZDxFtg:1654935162134&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiHg9zz-aT4AhWTQvEDHTF5BDMQ_AUoAnoECAEQBA&biw=1495&bih=715&dpr=1.25#imgrc=-_cLOsA-DJY9ZM"
            >Google-Link</a
          >
        </li>
        <li>
          Bear Brick "Bape":
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/bape-x-medicom-1st-camo-shark-superalloy-chogokin-200-bearbrick-green"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=bearbrick+stockx&tbm=isch&ved=2ahUKEwiL9Py4-6T4AhUSy6QKHSsSBfkQ2-cCegQIABAA&oq=bearbrick+stock&gs_lcp=CgNpbWcQARgAMgQIABATOgQIIxAnOgQIABBDOgUIABCABDoECAAQHjoICAAQHhAIEBNQAFjcBmDlFGgAcAB4AIABVIgB8gKSAQE2mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=F1CkYsuMMZKWkwWrpJTIDw&bih=715&biw=1495&client=opera-gx&hs=Qaf#imgrc=HVjPrKTVszvEGM"
            >Google-Link</a
          >
        </li>
        <li>
          NB550 "Syracuse":
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/new-balance-550-syracuse"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=new+Balance+550+Syracuse+stockX&client=opera-gx&hs=zk1&sxsrf=ALiCzsaLVj4weUh5Hq-feXc3NzLHG-opkw:1654941212215&source=lnms&tbm=isch&sa=X&ved=2ahUKEwifyc-4kKX4AhVwRPEDHRpbBpwQ_AUoAnoECAEQBA&biw=1495&bih=715&dpr=1.25#imgrc=EbzHHIuhF3xLfM"
            >Google-Link</a
          >
        </li>
        <li>
          NB550 ALD:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/new-balance-550-aime-leon-dore-white-grey"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=new+Balance+550+ALD+stockX&tbm=isch&ved=2ahUKEwjC5bu5kKX4AhWPtqQKHWxtBJEQ2-cCegQIABAA&oq=new+Balance+550+ALD+stockX&gs_lcp=CgNpbWcQAzoECCMQJzoFCAAQgAQ6BggAEB4QCFDtA1j-EmCJFmgAcAB4AIABXYgBkgaSAQIxMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=HWakYoLjO4_tkgXs2pGICQ&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=OCSlPv8ecDcTMM"
            >Google-Link</a
          >
        </li>
        <li>
          NB550 Rich Paul:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/new-balance-550-rich-paul"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=new+Balance+550+Rich+Paul+stockX&tbm=isch&ved=2ahUKEwitsafFkKX4AhWP6aQKHfeDB4kQ2-cCegQIABAA&oq=new+Balance+550+Rich+Paul+stockX&gs_lcp=CgNpbWcQAzIECAAQGDoECCMQJzoFCAAQgAQ6BggAEB4QCFCJBFjUI2CAJmgBcAB4AIABSogBoAaSAQIxNJgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=NmakYq2-MY_TkwX3h57ICA&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=QwShPN-WrkCS7M"
            >Google-Link</a
          >
        </li>
        <li>
          NB2002R Bordeaux:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/new-balance-2002r-bordeaux"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=new+Balance+2002R+Bordeaux+stockX&tbm=isch&ved=2ahUKEwjuj-3UkKX4AhWLN-wKHRhaAe4Q2-cCegQIABAA&oq=new+Balance+2002R+Bordeaux+stockX&gs_lcp=CgNpbWcQAzoECCMQJ1C2A1iFUWCPUmgBcAB4AIABkgGIAY4OkgEEMjUuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=V2akYq6IGYvvsAeYtIXwDg&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=Wad6MAI2z0Lv4M"
            >Google-Link</a
          >
        </li>
        <li>
          NB2002R Amongts Us:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/new-balance-2002r-conversations-amongst-us"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=new+Balance+2002R+Amongst+Us+stockX&tbm=isch&ved=2ahUKEwip-IXkkKX4AhXdgaQKHbcZBbYQ2-cCegQIABAA&oq=new+Balance+2002R+Amongst+Us+stockX&gs_lcp=CgNpbWcQAzoECCMQJ1DqA1jzJGDtJWgAcAB4AIABSYgBlQiSAQIxOZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=d2akYungEN2DkgW3s5SwCw&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=R-F4jW8h_fustM"
            >Google-Link</a
          >
        </li>
        <li>
          NB2002R Nightwatch-Green:<a
            class="StockX-Link"
            href="https://stockx.com/de-de/new-balance-2002r-nightwatch-green"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=new+Balance+2002R+Nightwatch+stockX&tbm=isch&ved=2ahUKEwjsz93ukKX4AhUCNuwKHSD0ATsQ2-cCegQIABAA&oq=new+Balance+2002R+Nightwatch+stockX&gs_lcp=CgNpbWcQAzoECCMQJ1DSC1iAF2CiGmgAcAB4AIABXIgBlAWSAQIxMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=jWakYqzVKYLssAeg6IfYAw&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=u2AiexcgduD52M"
            >Google-Link</a
          >
        </li>
        <li>
          Nike Dunk Off-White Lot 1:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/nike-dunk-low-off-white-lot-1"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Nike+Dunk+Low+Off-white+lot+1+stockX&tbm=isch&ved=2ahUKEwiI8Kr8kKX4AhWVhaQKHcFpDHgQ2-cCegQIABAA&oq=Nike+Dunk+Low+Off-white+lot+1+stockX&gs_lcp=CgNpbWcQAzoECCMQJzoECAAQQzoHCAAQsQMQQzoFCAAQgAQ6CAgAEIAEELEDOgsIABCABBCxAxCDAToECAAQAzoECAAQHjoGCAAQHhAIOgQIABAYUJ8HWN5IYOdJaABwAHgAgAFziAGIEpIBBDM1LjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=qmakYojzDJWLkgXB07HABw&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=o9rw59LhNre2aM"
            >Google-Link</a
          >
        </li>
        <li>
          Nike Dunk Panda:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/nike-dunk-low-retro-white-black-2021"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Nike+Dunk+Low+Panda+stockX&tbm=isch&ved=2ahUKEwiMweeOkaX4AhXIs6QKHWxBAo8Q2-cCegQIABAA&oq=Nike+Dunk+Low+Panda+stockX&gs_lcp=CgNpbWcQAzIECAAQHjoECCMQJzoICAAQHhAIEAc6BggAEB4QB1CdEVjdFGDxFmgAcAB4AIABmgGIAb8DkgEDNS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=0GakYoyZOsjnkgXsgon4CA&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=1fIzQwjbNZja8M"
            >Google-Link</a
          >
        </li>
        <li>
          Nike Dunk Lobster:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/nike-sb-dunk-low-concepts-purple-lobster"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Nike+Dunk+Low+Lobster+stockX&tbm=isch&ved=2ahUKEwillLyZkaX4AhVOCuwKHQdUAmcQ2-cCegQIABAA&oq=Nike+Dunk+Low+Lobster+stockX&gs_lcp=CgNpbWcQAzoECCMQJzoGCAAQHhAHOggIABAeEAgQBzoFCAAQgARQnwRYmhNgyhVoAHAAeACAAVSIAfEFkgECMTOYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=52akYuWEE86UsAeHqIm4Bg&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=n4T8zqTej49JGM"
            >Google-Link</a
          >
        </li>
        <li>
          Puma RS-X Reinvention:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/puma-rs-x-reinvention"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Puma+rs-x+reinvention+stockX&tbm=isch&ved=2ahUKEwjAufupkaX4AhUQP-wKHSTSDnoQ2-cCegQIABAA&oq=Puma+rs-x+reinvention+stockX&gs_lcp=CgNpbWcQAzoECCMQJzoGCAAQHhAHOggIABAeEAcQBVDNCFiIPWCUQWgAcAB4AIABU4gBrAqSAQIyMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=CWekYoCRN5D-sAekpLvQBw&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=VpbP_E6yqjV87M"
            >Google-Link</a
          >
        </li>
        <li>
          Puma Butter Goods:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/puma-slipstream-low-butter-goods-whisper-white"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Puma+butter+goods+stockX&tbm=isch&ved=2ahUKEwj20Iq7kaX4AhUPO-wKHR86CI4Q2-cCegQIABAA&oq=Puma+butter+goods+stockX&gs_lcp=CgNpbWcQAzoECCMQJ1CaFljZSWDvSmgAcAB4AIABWogB8AaSAQIxNZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=LWekYraGMY_2sAef9KDwCA&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=iHDJQYsuBKHPvM"
            >Google-Link</a
          >
        </li>
        <li>
          Yeezy 350 v1 Turtledove:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/adidas-yeezy-boost-350-turtledove"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Yeezy+350+v1+turtle+dove+stockX&tbm=isch&ved=2ahUKEwj40ZOOkqX4AhWBOuwKHfdZB-AQ2-cCegQIABAA&oq=Yeezy+350+v1+turtle+dove+stockX&gs_lcp=CgNpbWcQAzoECCMQJzoGCAAQHhAHOgUIABCABDoICAAQHhAIEAc6BAgAEBM6CAgAEB4QBxATOggIABAeEAgQE1DSEljpSGDWTWgAcAB4AIABkQGIAbkMkgEEMjQuMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=3GekYvhzgfWwB_eznYAO&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=0P7HavaNi4VrnM"
            >Google-Link</a
          >
        </li>
        <li>
          Yeezy 350 v2 Beluga Reflective:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/adidas-yeezy-boost-350-v2-beluga-reflective"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Yeezy+350+v2+beluga+reflective+stockX&tbm=isch&ved=2ahUKEwiFlpyskqX4AhUJwwIHHVFWAvMQ2-cCegQIABAA&oq=Yeezy+350+v2+beluga+reflective+stockX&gs_lcp=CgNpbWcQAzoECCMQJzoICAAQHhAIEAdQuwRYjklgw0poAHAAeACAAYEBiAGRCpIBBDE5LjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=G2ikYsWcBImGi-gP0ayJmA8&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=2BVL6Y1LHroBDM"
            >Google-Link</a
          >
        </li>
        <li>
          Yeezy 350 v2 Zebra:
          <a
            class="StockX-Link"
            href="https://stockx.com/de-de/adidas-yeezy-boost-350-v2-white-core-black-red"
            >StockX-Link</a
          >
          <a
            class="Google-Link"
            href="https://www.google.com/search?q=Yeezy+350+v2+zebra+stockX&tbm=isch&ved=2ahUKEwjqs_q5kqX4AhUQP-wKHYurD7gQ2-cCegQIABAA&oq=Yeezy+350+v2+zebra+stockX&gs_lcp=CgNpbWcQAzoECCMQJ1DNCliaD2DPEmgAcAB4AIABQ4gB8gKSAQE2mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=N2ikYqq8NZD-sAeL177ACw&bih=715&biw=1495&client=opera-gx&hs=zk1#imgrc=tE8kj9DkV6MWhM"
            >Google-Link</a
          >
        </li>
        <li>
          Gucci Gürtel:
          <a
            class="Google-Link"
            href="https://www.pngwing.com/de/free-png-bhgmo"
            >Google-Link</a
          >
        </li>
        <li>
          Rolex Datejust:
          <a class="Google-Link" href="https://de.cleanpng.com/png-ou99d7/"
            >Google-Link</a
          >
        </li>
        <li>
          Louis Vuitton Tasche:
          <a class="Google-Link" href="https://www.pngegg.com/en/png-bkjdg"
            >Google-Link</a
          >
        </li>
      </ol>
    </main>
    <footer>
      <ul class="nicoImp">
        <li><strong>Nico Paulsen</strong></li>
        <li>Glücksburger Straße 81</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 671112</li>
      </ul>
      <ul class="linusImp">
        <li><strong>Linus Bumann</strong></li>
        <li>Brixstrasse 19</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 690869</li>
      </ul>
      <ul class="hsImp">
        <li><strong>Hochschule Flensburg</strong></li>
        <li>Kanzleistraße 91-93</li>
        <li>24943 Flensburg</li>
        <li>Fach: Frontend-Design</li>
      </ul>
      <img src="Bilder/hsLogo.png" alt="hsLogo" />
      <ul class="duku">
        <li><a href="dokumentation.html">Dokumentation</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
        <li><a href="datenschutz.html">Datenschutz</a></li>
        <li><a href="kollophon.html">Kollophon</a></li>
      </ul>
    </footer>
    <a href="#top" id="button"
      ><p><i class="arrow up"></i></p
    ></a>
  </body>
</html>
