{% extends 'layout.html' %} {%block content%}

<main class="mainDokuModule">
  <div><h1>Module</h1></div>
  <h2>Navigationsleiste</h2>
  <p>
    Die Navigationsleiste ändert sich je nach Größe des Bildschirms von einem
    Burgermenü in eine Navigationsleiste, auf der alle Unterseiten, wie z.B.
    Puma, Nike und Adidas auf einen Blick zu sehen sind. Befindet man sich z.B.
    auf der Unterseite von Nike verschwindet die Auswahlmöglichkeit in der
    Navigationsleiste. Gleiches passiert auch im Burgermenü. Wird das Burgermenü
    ausgeklappt überdeckt dieses mit einem schwarzen Hintergrund die Seite,
    damit auch in der mobilen Version eine einfache Auswahl möglich ist.
  </p>
  <h2>Karte</h2>
  <p>
    Die Karten auf unserer Website haben einen Hovereffect, in der Mobilen
    ansicht ist dieser Effect verschwunden. In den Karten befinden sich ein Text
    mit Überschrift, ein Logo oder das Bild einen Schuhs und ein Button.
  </p>
  <div class="SchuhKarte">
    <img class="nikelogo" src="../Bilder/logos/nike.png" alt="" />
    <div class="farbBox"></div>
    <div class="content">
      <h3>Nike</h3>
      <p>
        Jeder kennt den coolen Schuh mit dem weltberühmten Swoosh. Die Marke
        Nike gibt es bereits seit 1971 und gilt seit 1989 als weltweit führender
        Sportartikel-Anbieter.
      </p>
    </div>
    <a class="nikebutton" href="UnterseitenMarken/nike.html">Mehr erfahren</a>
  </div>
  <h2>Button</h2>
  <p>
    Die Butten sind auf unserer Website in verschiedenen Farben auffindbar.
    Außerdem haben sie einen Hovereffect, bei dem sich der Button vergrößert.
  </p>
  <a class="adidasbutton" href="#">Mehr erfahren</a>

  <h2>"Nach Oben"-Button</h2>
  <p>
    Dieser Button wird nur dazu genutzt, um an den Anfang der Seite zu springen.
    Dies ist vor allem dann vorteilhaft, wenn die Seite relativ lang ist, und
    ein normales Scrollen zu lange dauern würde.
  </p>
</main>
{%endblock%}
