<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike und Jordan</title>
    <link rel="stylesheet" href="/css/styleHA.css" />
  </head>
  <body>
    <header class="header">
      <a href="../index.html" class="logo">Sneak Peek</a>
      <input class="checkbox" type="checkbox" id="checkbox" />
      <label for="checkbox" class="hamburger">&#9776;</label>
      <nav>
        <ul class="navUL">
          <li><a href="adidas.html">Adidas</a></li>

          <li><a href="../aboutUs.html">About Us</a></li>
        </ul>
      </nav>
      <div class="backgroundBox"></div>
    </header>

    <main class="brandIndexS4">
      <div class="backgroundTopNike">
        <h1>Nike / Jordan</h1>
        <h2>Hier findest du einige Modelle von Nike und Jordan</h2>
      </div>
      <div class="card1">
        <div class="SchuhKarte">
          <img
            class="shoePicture"
            src="/Bilder/Jordan1/Air-Jordan-1-Retro-High-White-University-Blue.png"
            alt=""
          />
          <div class="farbBox"></div>
          <div class="content">
            <h3>Jordan 1</h3>
            <p>
              Hier kannst du dich über einige Modelle des "Jordan 1" informieren
            </p>
          </div>
          <a class="lightBlueButton" href="NikeModelle/Jordan1Modelle.html"
            >Mehr erfahren</a
          >
        </div>
      </div>

      <div class="card2">
        <div class="SchuhKarte">
          <img
            class="shoePicture"
            src="/Bilder/Jordan3/Air-Jordan-3-Retro-A-Ma-Maniere.png"
            alt=""
          />
          <div class="farbBox"></div>
          <div class="content">
            <h3>Jordan 3</h3>
            <p>
              Hier kannst du dich über einige Modelle des "Jordan 3" informieren
            </p>
          </div>
          <a class="brownButton" href="NikeModelle/Jordan3Modelle.html"
            >Mehr erfahren</a
          >
        </div>
      </div>
      <div class="card3">
        <div class="SchuhKarte">
          <img
            class="shoePicture"
            src="/Bilder/Jordan4/Air-Jordan-4-Retro-Black-Cat-2020.png"
            alt=""
          />
          <div class="farbBox"></div>
          <div class="content">
            <h3>Jordan 4</h3>
            <p>
              Hier kannst du dich über einige Modelle des "Jordan 4" informieren
            </p>
          </div>
          <a class="whiteButton" href="NikeModelle/Jordan4Modelle.html"
            >Mehr erfahren</a
          >
        </div>
      </div>
      <div class="card4">
        <div class="SchuhKarte">
          <img
            class="shoePicture"
            src="/Bilder/NikeDunk/Nike-Dunk-Low-Off-White-Lot-1.png"
            alt=""
          />
          <div class="farbBox"></div>
          <div class="content">
            <h3>Nike Dunk Low</h3>
            <p>
              Hier kannst du dich über einige Modelle des "Nike Dunk Low"
              informieren
            </p>
          </div>
          <a class="whiteButton" href="NikeModelle/DunkModelle.html"
            >Mehr erfahren</a
          >
        </div>
      </div>
    </main>
    <footer>
      <ul class="nicoImp">
        <li><strong>Nico Paulsen</strong></li>
        <li>Glücksburger Straße 81</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 671112</li>
      </ul>
      <ul class="linusImp">
        <li><strong>Linus Bumann</strong></li>
        <li>Brixstrasse 19</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 690869</li>
      </ul>
      <ul class="hsImp">
        <li><strong>Hochschule Flensburg</strong></li>
        <li>Kanzleistraße 91-93</li>
        <li>24943 Flensburg</li>
        <li>Fach: Frontend-Design</li>
      </ul>
      <img src="../Bilder/hsLogo.png" alt="hsLogo" />
      <ul class="duku">
        <li><a href="../dokumentation.html">Dokumentation</a></li>
        <li><a href="../kontakt.html">Kontakt</a></li>
        <li><a href="../datenschutz.html">Datenschutz</a></li>
        <li><a href="../kollophon.html">Kollophon</a></li>
      </ul>
    </footer>
    <a href="#top" id="button"
      ><p><i class="arrow up"></i></p
    ></a>
  </body>
</html>
