{% extends 'layout.html' %} {%block content%}
<main class="mainIndex">
  <div class="backgroundTopAdidas">
    {%if dbData[0].herstellerName%}
    <h1>Adidas</h1>
    <h2>Hier siehst du alle Schuhe von Adidas</h2>
    {% endif %}
  </div>

  <div class="cardgrid">
    {%for data in dbData%}
    <div class="card1">
      <div class="SchuhKarte">
        <img class="shoePicture" src="{{data.baureiheImageLink}}" alt="" />
        <div class="farbBox"></div>
        <div class="content">
          <h3>{{data.baureiheName}}</h3>
          <p>{{data.baureiheDescriptionText}}</p>
        </div>
        <a class="whiteButton" href="/baureihe/{{data.baureiheID}}"
          >Mehr erfahren</a
        >
      </div>
      {%endfor%}
    </div>
  </div>
</main>
{%endblock%}
