{% extends 'layout.html' %} {%block content%}
<main class="mainIndex">
  <div class="backgroundTop">
    <h1>Welcome to Sneak Peek</h1>
    <h2>Learn more about Sneaker</h2>

    <div class="cardgrid">
      {%for dbData in dbData%}
      <div class="card1">
        <div class="SchuhKarte">
          <img class="nikelogo" src="{{dbData.imageLink}}" alt="" />
          <div class="farbBox"></div>
          <div class="content">
            <h3>{{dbData.brand}}</h3>
            <p>{{dbData.indexText}}</p>
          </div>
          <a class="nikebutton" href="{{dbData.directLinkToModellCards}}"
            >Mehr erfahren</a
          >
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</main>
{%endblock%}
