{% extends 'layout.html' %} {%block content%}
<main class="mainIndex">
  <div class="cardgrid">
    {%for dbData in dbData%}
    <div class="card1">
      <div class="SchuhKarte">
        <img class="shoePicture" src="{{dbData.schuhImageLink}}" alt="" />
        <div class="farbBox"></div>
        <div class="content">
          <h3>{{dbData.schuhName}}</h3>
          <p>{{dbData.schuhInfoText}}</p>
        </div>

        {% if nutzer %}
        <a class="whiteButton" href="/schuheBearbeiten/{{dbData.schuhID}}"
          >Bearbeiten</a
        >
        {% endif %}
      </div>
      {%endfor%}
    </div>
  </div>
  {% if nutzer %}
  <a class="whiteButton" href="/schuheHinzufügen">Hinzufügen</a>
  {% endif %}
</main>
{%endblock%}
