{% extends 'layout.html' %} {%block content%}

<main class="kMain">
  <form action="http://localhost:9000/register" method="POST">
    <h1>Registrieren</h1>

    <div class="input_container">
      {% if errors.email %}
      <p>{{errors.email}}</p>
      {% endif %}
      <input
        type="text"
        name="email"
        id="email"
        placeholder="E-Mail"
        value=""
      />
      <input
        type="text"
        name="vorname"
        id="vorname"
        placeholder="Vorname"
        value=""
      />
      <input
        type="text"
        name="nachname"
        id="nachname"
        placeholder="Nachname"
        value=""
      />
      {% if errors.passwort %}
      <p>{{errors.passwort}}</p>
      {% endif %}
      <input
        type="password"
        name="passwort"
        id="passwort"
        placeholder="Passwort"
        value=""
      />
      <input
        type="password"
        name="passwortKontrolle"
        id="passwortKontrolle"
        placeholder="Passwort wiederholen"
        value=""
      />
    </div>
    <input class="Senden" type="submit" value="Registrieren" />
  </form>
</main>

{%endblock%}
