{% extends 'layout.html' %} {%block content%}

<main class="kMain">
  <form
    action="http://localhost:9000/schuheBearbeiten/{{dbData.schuhID}}"
    method="post"
  >
    <h1>Schuh Bearbeiten</h1>
    <label for="schuhTitel">Schuhname</label>
    <div class="input_container">
      <input
        type="text"
        name="schuhTitel"
        id="schuhTitel"
        placeholder="Hier den Namen des Schuhs eintragen"
        value="{{dbData.schuhName}}"
      />

      <label for="imageUpload">Bild hochladen</label>
      <input type="file" id="schuhImage" name="schuhImage" />

      <label for="schuhInfoText">Beschreibungstext</label>
      <input
        class="nachricht"
        type="text"
        name="schuhInfoText"
        id="schuhInfoText"
        placeholder="Hier den Beschreibungstext eintragen"
        value="{{dbData.schuhInfoText}}"
      />

      <label for="schuhKommentar">Kommentar zu Schuh</label>
      <input
        class="nachricht"
        type="text"
        name="schuhKommentar"
        id="schuhKommentar"
        placeholder="Hier deinen Kommentar zum Schuh eintragen"
        value="{{dbData.kommentare}}"
      />
    </div>
    <input class="Senden" type="submit" value="Submit" />
  </form>
</main>

{%endblock%}
