{% extends 'layout.html' %} {%block content%}

<main class="kMain">
  <form action="http://localhost:9000/schuheHinzufeugen" method="post" enctype="multipart/form-data">
    <h1>Schuh hinzufügen</h1>
    <label for="schuhTitel">Schuhname</label>
    <div class="input_container">
      <input
        type="text"
        name="schuhTitel"
        id="schuhTitel"
        placeholder="Hier den Namen des Schuhs eintragen"
        required
      />
      <label for="schuhTitel">Baureihe</label>
      <div class="input_container">
        <input
          type="number"
          name="baureihe"
          id="baureihe"
          placeholder="Nummer der Baureihe"
          value="{{dbData.baureiheID}}"
          required
        />
        {% if errors.image%}
        <p>{{errors}}</p>
        {% endif %}
      <label for="imageUpload">Bild hochladen</label>
      <input type="file" id="schuhImage" name="schuhImage" required/>

      <label for="schuhInfoText">Beschreibungstext</label>
      <input
        class="nachricht"
        type="text"
        name="schuhInfoText"
        id="schuhInfoText"
        placeholder="Hier den Beschreibungstext eintragen"
        required
      />

      <label for="schuhKommentar">Kommentar zu Schuh</label>
      <input
        class="nachricht"
        type="text"
        name="schuhKommentar"
        id="schuhKommentar"
        placeholder="Hier deinen Kommentar zum Schuh eintragen"
        required
      />
    </div>
    <input class="Senden" type="submit" value="Submit" />
  </form>
</main>

{%endblock%}
