{% extends 'layout.html' %} {%block content%}

<main class="kMain">
  <form action="https://www.inf.hs-flensburg.de/echo/" method="post">
    <h1>Schuh Bearbeiten</h1>
    <div class="input_container">
      <label for="vn">{{dbData.schuhName}}</label>
      <input type="text" name="Vorname" id="vn" placeholder="sfdgdggh" />

      <label for="nn"></label>
      <input type="text" name="Nachname" id="nn" placeholder="Nachname" />

      <label for="EMail"></label>
      <input type="text" name="E-Mail" id="EMail" placeholder="E-Mail" />

      <label for="Nachr"></label>
      <input
        class="nachricht"
        name="Nachricht"
        id="Nachr"
        type="text"
        placeholder="Nachricht"
      />
    </div>
    <input class="Senden" type="submit" value="Submit" />
  </form>
</main>

{%endblock%}
