{% extends 'layout.html' %} {%block content%}

<main>
  <h1 class="Timelineheading">Der Werdegang unserer Webseite</h1>
  <div class="wrapper">
    <div class="box">
      <h2>02.01.2023: src-Funktionen werden eingefügt</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/02-01-2023.png" alt="" />
        <figcaption>
          Die server.js, app.js, controller.js, form-controller.js und model.js
          werden erstellt und grundsätzlich programmiert.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>02.01.2023: html-Dateien werden angepasst</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/02-01-2023-2.png" alt="" />
        <figcaption>
          Die grundsätzlichen html-Dateien werden im Ordner "templates" erstellt. Unnötige Dateien werden entfernt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>03.01.2023: layout.html wird mit nunjucks versehen</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/03-01-2023-1.png" alt="" />
        <figcaption>
          Die layout.html wird als Wrapper für die unterseiten erstellt und mittles Nunjucks genauer definiert.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>04.01.2023: Unterseiten werden  mit Nunjucks versehen</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/03-01-2023-2.png" alt="" />
        <figcaption>
          Die Unterseiten werden mittels Nunjucks genauer definiert.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>05.01.2023: Datenbankaufbau wird erstellt</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/05-01-2023.png" alt="" />
        <figcaption>
          Die Unterseiten werden mittels Nunjucks genauer definiert.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>06.01.2023: ctx-Objekt anpassen</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/06-01-2023.png" alt="" />
        <figcaption>
          Das ctx-Objekt wird um die Datenbank erweitert.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>07.01.2023: Router wird auf /"link" angepasst</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/07-01-2023.png" alt="" />
        <figcaption>
          Alle pathname.match werden auf /"Link" angepasst.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>08.01.2023: controller.js wird um Funktionen erweitert</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/08-01-2023.png" alt="" />
        <figcaption>
          Passende Funktionen für die Unterseiten werden erstellt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>09.01.2023: model.js wird um Funktionen erweitert</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/09-01-2023.png" alt="" />
        <figcaption>
          Einige erste Funktionen mit SQL-Befehlen werden erstellt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>10.01.2023: HTML-Seiten für Formulare</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/10-01-2023.png" alt="" />
        <figcaption>
          Einige erste Formulare werden erstellt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>11.01.2023: Registrierung wird erstellt</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/11-01-2023.png" alt="" />
        <figcaption>
          Die grundsätzliche Registrierung wird erstellt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>12.01.2023: Login wird erstellt</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/12-01-2023.png" alt="" />
        <figcaption>
          Der grundsätzliche Login wird erstellt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>13.01.2023: form-controller.js wird erweitert</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/13-01-2023.png" alt="" />
        <figcaption>
          form-Controller.js für Login und Registrierung wird fertig gestellt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>14.01.2023: Neue Button im HTML einfügen</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/14-01-2023.png" alt="" />
        <figcaption>
          Neue Button für Hinzufügen von Schuhen usw. werden eingefügt.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>15.01.2023: Routen für Links angepasst</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/15-01-2023.png" alt="" />
        <figcaption>
          Routen im Router so angepasst, dass nicht alle Seiten über das Einfügen des Links in der Suchleiste erreicht werden können.
        </figcaption>
      </figure>
    </div>
    <div class="box">
      <h2>16.01.2023: Letzte Funktionen werden fertig gestellt</h2>
      <figure>
        <img class="ZeitleistenBild" src="../Bilder/16-01-2023.png" alt="" />
        <figcaption>
          Letzte Funktionen in den verschiedenen Controllern und model.js werden fertig gestellt.
        </figcaption>
      </figure>
    </div>
  </div>
</main>
{%endblock%}
