<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YEEZY V1</title>
    <link rel="stylesheet" href="/css/styleHA.css" />
  </head>
  <body>
    <header class="header">
      <a href="../../index.html" class="logo">Sneak Peek</a>
      <input class="checkbox" type="checkbox" id="checkbox" />
      <label for="checkbox" class="hamburger">&#9776;</label>
      <nav>
        <ul class="navUL">
          <li><a href="../nike.html">Nike</a></li>
          <li><a href="../adidas.html">Adidas</a></li>

          <li><a href="../../aboutUs.html">About Us</a></li>
        </ul>
      </nav>
      <div class="backgroundBox"></div>
    </header>

    <main class="UnterseitenS1">
      <h1 class="headerUnterseite">Yeezy v1 Modelle</h1>
      <!-- 1.Schuh -->
      <div class="contentLot1">
        <h2>Yeezy 350 V1 "Turtledove"</h2>
        <p>
          Der Adidas Yeezy ist ein besonderes Schuhmodell, das von US Rapper
          Kanye West entworfen und in Kooperation mit Adidas veröffentlicht
          wurde. Im Jahr 2015 startete die Zusammenarbeit von Kanye West und
          Adidas. Der Yeezy Boost 350 erschien am 27.06.2015 und der Hype brach
          aus. Bis heute verkauft sich jedes neue Modell wie von selbst. Bei
          einem Release Preis von ca. 190€ und einem Wiederverkaufspreis von ca.
          1200€ ist der Hype um den Schuh zu erkennen.
        </p>
      </div>
      <div class="imgLot1">
        <img
          src="/Bilder/Yeezy350(v1,v2)/Adidas-Yeezy-Boost-350-Low-Turtledove.png"
          alt=""
        />
      </div>
    </main>

    <footer>
      <ul class="nicoImp">
        <li><strong>Nico Paulsen</strong></li>
        <li>Glücksburger Straße 81</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 671112</li>
      </ul>
      <ul class="linusImp">
        <li><strong>Linus Bumann</strong></li>
        <li>Brixstrasse 19</li>
        <li>24943 Flensburg</li>
        <li>Matrikelnummer: 690869</li>
      </ul>
      <ul class="hsImp">
        <li><strong>Hochschule Flensburg</strong></li>
        <li>Kanzleistraße 91-93</li>
        <li>24943 Flensburg</li>
        <li>Fach: Frontend-Design</li>
      </ul>
      <img src="../../Bilder/hsLogo.png" alt="hsLogo" />
      <ul class="duku">
        <li><a href="../../dokumentation.html">Dokumentation</a></li>
        <li><a href="../../kontakt.html">Kontakt</a></li>
        <li><a href="../../datenschutz.html">Datenschutz</a></li>
        <li><a href="../../kollophon.html">Kollophon</a></li>
      </ul>
    </footer>
    <a href="#top" id="button"
      ><p><i class="arrow up"></i></p
    ></a>
  </body>
</html>
